.c1449208826 { }
.f14492088321 { }
.f14492088322 { font-size:16px; clear:both; line-height:30px; padding-top:20px; overflow:hidden; }
.f14492088323 { margin-left:20px; margin-right:20px; line-height:30px; font-size:14px; width:500px; float:left; }
.f14492088324 { line-height:30px; font-size:14px; }
.f14479340785 { line-height:30px; font-size:14px; }
.f14479340786 { line-height:30px; font-size:14px; }
.f14479340787 { line-height:30px; font-size:14px; }
.f14479340788 { line-height:30px; font-size:14px; }
.f14492088329 { width:100px; height:100px; float:right; margin-right:50px; display:block; }
.f144920883210 { padding-left:30px; margin-left:20px; margin-right:10px; padding-top:10px; padding-bottom:10px; background-color:#f7fbfe; border-width:1px; border-style:solid; border-color:#ddeeff; margin-top:10px; margin-bottom:10px; }
.f144920883211 { padding-left:30px; margin-left:20px; margin-right:10px; padding-top:20px; padding-bottom:20px; }
