.f14464847351 { text-align:center; }
.f14464847352 { color:#343434; line-height:30px; font-size:16px; margin-bottom:20px; }
.f14464847353 { font-size:14px; color:#999999; }
.bdsharebuttonbox { width:140px; margin-left:auto; margin-right:auto; margin-bottom:20px; }
.f14464847354 { text-align:left; color:#555555; font-size:14px; line-height:28px; margin-bottom:30px; }
.f14464847355 { text-align:left; line-height:26px; }
.f144478231687 .f144478231688 { display:block; width:138px; height:39px; text-align:center; line-height:39px; background-color:#019393; color:#FFF; margin-left:auto; margin-right:auto; margin-top:30px; border-radius:5px; font-size:14px; }
.f144478231687 .f144478231688:hover { text-decoration:underline; }
