.f14466107051 { font-size:14px; text-align:center; height:50px; line-height:50px; }
.f14466107052 { display:inline-block; }
.f14466107053 { float:left; margin-right:30px; }
.f14466107054:hover { border-color: #da1f2e; color: #da1f2e; }
.f14466107056 { margin-left:10px; }
.f14466107057 { font-weight:900; margin-left:10px; }
.f14466107058 { border-width:1px; border-style:solid; border-color:#ccc; padding-right:8px; margin-left:10px; padding-top:1px; padding-bottom:1px; padding-left:8px; }
.f14466107059 { margin-left:10px; }
.f144661070511 { margin-left:10px; float:left; }
.f144661070512 { color: #4c4c4c; margin-right:20px; }
.f144661070513 { }
