.Vx9yKNITbV { height:35px; line-height:30px; background:url(../images/icon13.png) repeat-x; background-position:left bottom; margin-bottom:20px; }
.DYEWQbXJsD { float:left; color:#019393; font-size:16px; }
.P3dRtu5cqF { float:right; margin-right:10px; }
.P3dRtu5cqF li { float:left; color:#939393; }
.slFWr3Xw0b .xsfEM6Zg6i, .slFWr3Xw0b .BMM5w72wMJ { color:#939393; }
