.BvQLyKAulW { width:70px; float:left; }
.O3PqSGKF16 { width:200px; float:left; }
.zggqvwlvhM { width:70px; float:left; }
.m56GbOdxvM { width:200px; float:left; }
.AgmqncSTUc { width:70px; float:left; }
.PbapL2tndH { width:200px; float:left; }
.bqo2XydhlZ { width:70px; float:left; }
.kkD0zAmizG { width:200px; float:left; }
.pmzqRQFwbf { width:70px; float:left; }
.JrgSftHRfk { width:200px; float:left; }
.Rcjr1kJjSe { width:70px; float:left; }
.WAsZpbhRMz { width:200px; float:left; }
.zwOSeVNj3E { overflow:hidden; line-height:25px; height:25px; }
.zMAz8bR13i { overflow:hidden; line-height:25px; height:25px; }
.ctByNelTom { overflow:hidden; line-height:25px; height:25px; }
.HQ3Fcfvleb { overflow:hidden; line-height:25px; height:25px; }
.P7lOyODAiB { overflow:hidden; line-height:25px; height:25px; }
.Fl5KTKjT1l { overflow:hidden; line-height:25px; height:25px; }
.isaps9SUmD { }
.L2yaw9ZwbI { margin-top:10px; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#ccc; overflow:hidden; line-height:35px; }
.Leq9m2ufSb { line-height:35px; }
.Gi4GTrJrdf { overflow:hidden; margin-bottom:10px; }
.AKcqoRmk6v { margin-top:10px; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#ccc; overflow:hidden; line-height:35px; }
.DKk3suqanA { line-height:35px; }
.sjKc5RtzS0 { overflow:hidden; line-height:25px; height:25px; }
.eGm7oEZT9g { width:70px; float:left; }
.MPNRznH9ah { width:200px; float:left; }
.DKxJkV0RpG { overflow:hidden; line-height:25px; height:25px; }
.fpHHCA20Rr { width:70px; float:left; }
.JpozZ471lj { width:200px; float:left; }
.cnmKlwmRTw { overflow:hidden; line-height:25px; height:25px; }
.D6ALqdRef1 { width:70px; float:left; }
.fd5tAfjIrP { width:200px; float:left; }
.BEO3DYXr3k { background-color:#FBFBFB; border-width:1px; border-style:solid; border-color:#ddd; height:20px; line-height:20px; }
.uFjFuvgeWv { background-color:#FBFBFB; border-width:1px; border-style:solid; border-color:#ddd; height:20px; line-height:20px; }
.uJXp0Pdq7K { background-color:#FBFBFB; border-width:1px; border-style:solid; border-color:#ddd; }
.RGDRxoyk1j { }
.MTZr5ClwMb { padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px; }
.y3yJ16kBvU { line-height:25px; overflow:hidden; margin-bottom:10px; }
.lHR1f1zcRp { width:100px; float:left; }
.PjLPLeuPPn { float:left; }
.PMv9mtj3lw { width:100px; float:left; }
.NwDqo8FdTR { width:100px; float:left; }
.YjN003C4jW { background-color:#FBFBFB; border-width:1px; border-style:solid; border-color:#ddd; }
